<h1>Hello <%= @name %>!</h1>

<p>This is a Water Calculator that will estimate the amount of water you'll have to drink today.
It will take into consideration:</p>

 <ul>
  <li>Weight</li>
  <li>Activity Level</li>
  <li>Outdoor Temperature (based on your location)</li>
 </ul>
 
 <p>Let's get started!</p> 

"Next, enter your weight (in pounds):"

Please enter the amount of minutes exercised today:"

Now let's take into consideration the weather. What is the current temperature?:"
 
 Are you currently pregnant or breastfeeding? (yes/no)"
